<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="RecallEntities" connectionString="metadata=res://*/Model.RecallFoodAlertModel.csdl|res://*/Model.RecallFoodAlertModel.ssdl|res://*/Model.RecallFoodAlertModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SCOTT-VAIO\SQLEXPRESS;initial catalog=recallAlertDb;persist security info=True;user id=acrsitestuser;password=H@ppyJun2015!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="RecallEntities" connectionString="metadata=res://*/Model.RecallFoodAlertModel.csdl|res://*/Model.RecallFoodAlertModel.ssdl|res://*/Model.RecallFoodAlertModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=uqstul1wt5.database.windows.net;initial catalog=recallAlertDb;persist security info=True;user id=acrsitestuser@uqstul1wt5;password=H@ppyJun2015!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>